@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Global */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #1B1C20;
}

body, .container, h1, h2, h3, h4, h5, h6, p, input, button, ul, li {
    margin: 0;
    padding: 0;
}

button, input {
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc((100% - 1400px) / 2) 80px;
}

/* Site header */

.siteHeader {
    width: 100%;
    position: relative;
}

.siteHeaderTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.siteHeaderTopClass {
    width: 244px;
    height: 44px;
}

.siteHeaderTopKalchem {
    width: 249px;
    height: 106px;
}

.siteHeaderSearchInput {
    width: 260px;
    height: 30px;
    border: 1px solid #AEAEAE;
    padding: 5px;
}

.siteHeaderMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #B4C618;
    height: 40px;
    padding: 5px 20px;
    z-index: 100;
    transition: .5s width;
    transform-origin: 50% 50%;
    top: 0;
    left: 0;
    width: 1400px;
    position: relative;
}

.siteHeaderMenu * {
    z-index: 100;
}

.siteMenuLeft, .siteMenuRight {
    height: 40px;
    position: absolute;
    top: 0;
    z-index: 10 !important;
    width: calc((100vw - 1400px) / 2);
    background: #B4C618;
    transform: scaleX(0);
}

.siteMenuLeft {
    left: 0;
    transform: translateX(-100%) scaleX(0);
    transform-origin: 100%;
}

.siteMenuRight {
    right: 0;
    transform: translateX(100%) scaleX(0);
    transform-origin: 0;
}

.stickyMenu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    width: 100vw;
}

.siteHeaderMenuList {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.siteHeaderMenuHome {
    padding-right: 10px;
}

.menuItem {
    padding: 15px 22px;
    border-right: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
}

.menuItem:last-child {
    border-right: none;
}

/* Landing page */

.landingPage {
    width: 100%;
    height: 560px;
    position: relative;
}

.slide {
    width: 100%;
    opacity: 0;
    position: absolute;
}

.slideActive {
    opacity: 1;
}

.landingPageImage {
    width: 100%;
    height: auto;
}

.slideHeaderPrimary, .slideHeaderSecondary {
    position: absolute;
    left: 50px;
    background: #1B1C20;
    color: #fff;
    padding: 18px;
    height: 54px;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.slideHeaderPrimary1 {
    top: 50px;
}

.slideHeaderPrimary2 {
    top: 115px;
}

.slideHeaderSecondary {
    height: 36px;
    font-weight: 400;
    top: 190px;
    font-size: 20px;
}

.slideHeaderButton {
    background: #B4C618;
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    left: 50px;
    top: 250px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonRight {
    padding-left: 10px;
    width: 18px;
    height: 18px;
}

.dots {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    height: 10px;
}

.dot {
    background: #F3F3F3;
    width: 120px;
    border-right: 1px solid #1B1C20;
    cursor: pointer;
}

.dotActive {
    background: #B4C618;
}

.progressBar {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 150px;
    height: 10px;
    background: #1B1C20;
}

.progressBarProgress {
    display: block;
    width: 30%;
    height: 100%;
    background: #B4C618;
}

section {
    margin-top: 120px;
    width: 100%;
}

/* Aktualnosci */

.sectionHeader {
    color: #1B1C20;
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #1B1C20;
    padding-bottom: 5px;
}

.aktualnosciInner {
    display: flex;
}

.aktualnosciLeft {
    width: 60%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

.aktualnosciLeft::after {
    content: "";
    position: absolute;
    right: 0;
    top: 40px;
    height: calc(100% - 80px);
    width: 1px;
    background: #B2B2B2;
}

.aktualnosciItem {
    width: 45%;
    margin-bottom: 80px;
}

.aktualnosciItem:nth-child(odd) {
    margin-right: 5%;
}

.aktualnosciItemHeader {
    font-size: 17px;
    color: #B4C618;
    margin-bottom: 10px;
}

.aktualnosciItemDate {
    font-size: 12px;
    color: #AEAEAE;
    font-weight: 400;
    margin-bottom: 15px;
}

.aktualnosciItemExcerpt {
    font-size: 15px;
    margin-bottom: 20px;
}

.aktualnosciItemButton {
    background: transparent;
    font-weight: 700;
    cursor: pointer;
}

.aktualnosciItemButtonImg {
    transition: .2s ease-in-out;
    padding-left: 5px;
}

.aktualnosciItemButton:hover .aktualnosciItemButtonImg {
    transform: translateX(10px);
}

.aktualnosciRight {
    width: 40%;
}

.aktualnosciRightTop {
    display: flex;
    padding: 40px 0 40px 20px;
    width: 100%;
    position: relative;
}

.aktualnosciRightTop::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #AEAEAE;
}

.aktualnosciRightTop > * {
    width: 50%;
}

.aktualnosciRightTop h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.aktualnosciRightTop h3 {
    font-weight: 400;
    font-size: 15px;
}

.contact {
    margin: 12px 0;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.contactFirst {
    margin-top: 30px;
}

.contactIcon {
    padding-right: 15px;
}

.contact a {
    display: block;
    transition: .2s ease-in-out;
}

.contact:hover a {
    transform: translateX(10px);
    color: #B4C618;
}

.aktualnosciRightTopRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.kalchemLogoSmall {
    width: 93px;
    height: 40px;
    margin-bottom: 30px;
}

.aktualnosciRightTopHint {
    font-size: 16px;
    text-align: right;
    font-weight: 700 !important;
    margin-bottom: 25px;
}

.aktualnosciRightTopRightButton {
    background: #B4C618;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
    font-weight: 700;
}

/* Marki */

.markiInner {
    width: 100%;
    height: 180px;
    margin-top: 25px;
    background: url("./img/marki-tlo.png");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
}

.markiTrack {
    display: flex;
    flex-basis: 100%;
    overflow: hidden !important;
    height: 100%;
}

.markiInnerItem {
    height: 100%;
    display: flex;
    flex-basis: 33%;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}

.markiInnerItemImg {
    padding: 0 30px;
}

.markiArrow {
    background: transparent;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 48px;
}

.arrowLeft {
    left: 50px;
}

.arrowRight {
    right: 50px;
}

/* Maszyny */

.maszyny .siteHeaderTopClass {
    margin: 35px auto;
    display: block;
}

.classHint {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}

.maszynyInner {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 321px);
    grid-row-gap: 120px;
    grid-column-gap: 5%;
    margin-top: 70px;
}

.maszynyInnerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.maszynyInnerItem:hover .maszynyOverlay {
    height: 321px;
    padding: 30px;
}

.maszynyInnerItem:hover .maszynyOverlayText {
    transform: scale(1);
    transition-delay: .4s;
}

.maszynyOverlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    width: 100%;
    height: 10px;
    background: #B4C618;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.maszynyOverlayText {
    transform: scale(0);
    color: #fff;
    font-size: 17px;
    transition: .4s all;
    text-align: center;
}

.maszynyInnerItemImg {
    width: 100%;
    height: 100%;
}

.maszynyInnerItemHeader {
    background: #B4C618;
    width: fit-content;
    width: -moz-max-content;
    padding: 8px 20px;
    margin-top: 20px;
    text-align: center;
}

/* Uslugi */

.uslugiInner {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(3, 140px);
    grid-row-gap: 40px;
    grid-column-gap: 7%;
    margin-top: 40px;
}

.uslugiItem {
    display: flex;
    align-items: center;
}

.uslugiItemImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    padding-right: 45px;
}

.uslugiItemHeader {
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 10px;
}

.uslugiItemDescription {
    font-size: 15px;
    font-weight: 400;
}

/* Footer */

.footer {
    width: 100%;
    background: #C5C5C5;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.footer a {
    transition: .2s ease-in-out;
}

.footer a:hover {
    color: #ededed;
}

.footerFirst {
    list-style-type: none;
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 25px;
}

.footerSecond {
    margin: 25px 0 40px;
    display: flex;
    align-items: center;
}

.footerSecond h3 {
    font-size: 15px;
}

.facebook {
    padding-left: 15px;
}

.footerThird, .footerFourth {
    font-size: 15px;
    margin: 5px 0;
}

/* Page maszyny nowe */

.maszynyNoweContainer {
    margin-top: 40px;
    position: relative;
}

.maszynyNoweContainer::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #AAAAAA;
}

.maszynyNoweList {
    margin-top: 40px;
}

@media(min-width: 900px) {
    .maszynyNoweList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

.maszynyNoweList img {
    display: block;
    margin: 0 auto 30px auto;
}

.greenHeader {
    margin: 120px auto 50px;
    position: relative;
    font-weight: 900;
    font-size: 28px;
    max-width: 420px;
    text-transform: uppercase;
    text-align: center;
}

.greenHeader::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 10px;
    background: #B4C618;
}

.producenciSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: auto;
}

.producenciSliderInner {
    width: 690px;
    height: 363px;
    background: url("./img/claas-zdjecie.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.producenciArrow {
    background: transparent;
    cursor: pointer;
}

.maszynyNoweSlogansPart {
    display: flex;
    margin-bottom: 190px;
    position: relative;
}

.maszynyNoweSlogansPartText {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.maszynyNoweSlogansPartHeader {
    font-size: 26px;
    text-transform: uppercase;
}

.maszynyNoweSlogansPartDescription {
    margin-top: 20px;
    width: 350px;
}

.maszynyNoweSlogansPart:last-child {
    justify-content: flex-end;
    margin-bottom: 0;
}

.maszynyNoweSlogansPart:last-child .maszynyNoweSlogansPartText {
    order: 1;
    margin-right: 50px;
    text-align: right;
    align-items: flex-end;
}

.maszynyNoweSlogansPart:last-child .maszynyNoweImgWrapper {
    order: 2;
}

.maszynyNoweSlogansPart:last-child::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #AAAAAA;
}

.maszynyNoweImgWrapper {
    position: relative;
}

.maszynyNoweProgressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: #B4C618;
}
