@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Global */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #1B1C20;
}

body, .container, h1, h2, h3, h4, h5, h6, p, input, button, ul, li {
    margin: 0;
    padding: 0;
}

button, input {
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc((100% - 1400px) / 2) 80px;
}

input,
textarea,
button,
select,
a, .serwisItem {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Site header */

.siteHeader {
    width: 100%;
    position: relative;
}

.siteHeaderTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.siteHeaderTopClass {
    width: 244px;
    height: 44px;
}

.siteHeaderTopKalchem {
    width: 249px;
    height: 106px;
}

.siteHeaderSearchInput {
    width: 260px;
    height: 30px;
    border: 1px solid #AEAEAE;
    padding: 5px;
}

.siteHeaderMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B4C618;
    height: 40px;
    padding: 5px 20px;
    z-index: 100;
    transition: .5s width;
    transform-origin: 50% 50%;
    top: 0;
    left: 0;
    width: 1400px;
    position: relative;
}

.siteHeaderMenu * {
    z-index: 100;
    color: #fff !important;
}

.siteMenuLeft, .siteMenuRight {
    height: 40px;
    position: absolute;
    top: 0;
    z-index: 10 !important;
    width: calc((100vw - 1400px) / 2);
    background: #B4C618;
    transform: scaleX(0);
}

.siteMenuLeft {
    left: 0;
    transform: translateX(-100%) scaleX(0);
    transform-origin: 100%;
}

.siteMenuRight {
    right: 0;
    transform: translateX(100%) scaleX(0);
    transform-origin: 0;
}

.stickyMenu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    width: 100vw;
}

.siteHeaderMenu ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.siteHeaderMenuHome {
    padding-right: 10px;
}

.menu-item {
    margin: 15px 0;
    padding: 0 22px;
    border-right: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
}

.menuItem:last-of-type {
    border-right: none;
}

.menu-item a {
    transition: .2s all;
}

.menu-item a:hover {
    opacity: .75;
}

.mobileMenu, .mobileSearchInput, .mobileDark, .mobileMenuList {
    display: none;
}

/* Landing page */

.landingPage {
    width: 100%;
    height: 560px;
    position: relative;
}

.slide {
    width: 100%;
    opacity: 0;
    position: absolute;
    max-height: 600px;
    overflow: hidden;
}

.slideActive {
    opacity: 1;
}

.landingPageImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center bottom;
}

.slideHeaderPrimary, .slideHeaderSecondary {
    position: absolute;
    left: 50px;
    background: #1B1C20;
    color: #fff;
    padding: 18px;
    height: 54px;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.slideHeaderPrimary1 {
    top: 50px;
}

.slideHeaderPrimary2 {
    top: 115px;
}

.slideHeaderSecondary {
    height: 36px;
    font-weight: 400;
    top: 190px;
    font-size: 20px;
}

.slideHeaderButton {
    background: #B4C618;
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    left: 50px;
    top: 250px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .4s ease-in-out all;
    z-index: 5;
    width: 110px;
    height: 30px;
}

.slideHeaderButton a::after {
    content: url("./img/caret_right.svg");
    position: absolute;
    right: 18px;
    transform: translateX(100%);
    top: 0;
    height: 100%;
    background: #B4C618;
    width: 30px;
    transition: .4s ease-in-out all;
    display: flex;
    justify-content: flex-start;
    padding-left: 18px;
    align-items: center;
}

.slideHeaderButton a:hover::after {
    width: 25px;
    padding-left: 26px;
}

.slideHeaderButton a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.buttonRight {
    padding-left: 10px;
    width: 15px;
    height: 15px;
}

.dots {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    height: 10px;
}

.dot {
    background: #F3F3F3;
    width: 120px;
    border-right: 1px solid #1B1C20;
    cursor: pointer;
}

.dotActive {
    background: #B4C618;
}

.progressBar {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 150px;
    height: 10px;
    background: #1B1C20;
}

.progressBarProgress {
    display: block;
    width: 30%;
    height: 100%;
    background: #B4C618;
}

section {
    margin-top: 120px;
    width: 100%;
}

.arrowMobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

/* TMP */

@media(min-width: 900px) {
    #slide1 .landingPageImage {
        object-position: center -200px;
    }

    #slide4 .landingPageImage {
        object-position: center -300px;
    }
}

/* Aktualnosci */

.sectionHeader {
    color: #1B1C20;
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #1B1C20;
    padding-bottom: 5px;
}

.aktualnosciInner {
    display: flex;
}

.aktualnosciLeft {
    width: 60%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

.aktualnosciLeft::after {
    content: "";
    position: absolute;
    right: 0;
    top: 40px;
    height: calc(100% - 80px);
    width: 1px;
    background: #B2B2B2;
}

.aktualnosciItem {
    width: 45%;
    margin-bottom: 80px;
}

.aktualnosciItem:nth-child(odd) {
    margin-right: 5%;
}

.aktualnosciItemHeader {
    font-size: 17px;
    color: #B4C618;
    margin-bottom: 10px;
}

.aktualnosciItemDate {
    font-size: 12px;
    color: #AEAEAE;
    font-weight: 400;
    margin-bottom: 15px;
}

.aktualnosciItemExcerpt {
    font-size: 15px;
    margin-bottom: 20px;
}

.aktualnosciItemButton {
    background: transparent;
    font-weight: 700;
    cursor: pointer;
}

.aktualnosciItemButtonImg {
    transition: .2s ease-in-out;
    padding-left: 5px;
}

.aktualnosciItemButton:hover .aktualnosciItemButtonImg {
    transform: translateX(10px);
}

.aktualnosciRight {
    width: 40%;
}

.aktualnosciRightTop {
    display: flex;
    padding: 40px 0 40px 20px;
    width: 100%;
    position: relative;
}

.aktualnosciRightTop::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #AEAEAE;
}

.aktualnosciRightTop > * {
    width: 50%;
}

.aktualnosciRightTop h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.aktualnosciRightTop h3 {
    font-weight: 400;
    font-size: 15px;
}

.contact {
    margin: 12px 0;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.contactFirst {
    margin-top: 30px;
}

.contactIcon {
    padding-right: 15px;
}

.contact a {
    display: block;
    transition: .2s ease-in-out;
}

.contact:hover a {
    transform: translateX(10px);
    color: #B4C618;
}

.aktualnosciRightTopRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.kalchemLogoSmall {
    width: 93px;
    height: 40px;
    margin-bottom: 30px;
}

.aktualnosciRightTopHint {
    font-size: 16px;
    text-align: right;
    font-weight: 700 !important;
    margin-bottom: 25px;
}

.aktualnosciRightTopRightButton {
    background: #B4C618;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
}

.aktualnosciRightTopRightButton a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #B4C618;
    justify-content: center;
    align-items: center;
    transition: .2s all;
}

.aktualnosciRightTopRightButton a:hover {
    background: #C5D729;
}

/* Marki */

.markiInner {
    width: 100%;
    height: 180px;
    margin-top: 25px;
    background: url("./img/marki-tlo.png");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
}

.markiTrack {
    width: 1000px;
    position: relative;
}

.markiInnerItem {
    height: 100%;
    max-height: 130px;
    display: flex;
    flex-basis: 33%;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}

.markiInnerItemImg {
    max-width: 100%;
    padding: 0 30px;
    max-height: 130px;
}

.markiTrack > div > div {
    margin-top: 2%;
    transform: translateY(-50%);
}

.markiArrow {
    background: transparent;
    position: absolute;
    z-index: 15;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.markiLeft {
    left: 50px;
}

.markiRight {
    right: 50px;
}

.arrow {
    width: 28px;
    height: 48px;
}


/* Maszyny */

.maszyny .siteHeaderTopClass {
    margin: 35px auto;
    display: block;
}

.classHint {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}

.maszynyInner {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 321px);
    grid-row-gap: 120px;
    grid-column-gap: 5%;
    margin-top: 70px;
}

.maszynyInnerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.maszynyInnerItem:hover .maszynyOverlay {
    height: 321px;
    padding: 30px;
}

.maszynyInnerItem:hover .maszynyOverlayText {
    transform: scale(1);
    transition-delay: .4s;
}

.maszynyOverlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    width: 100%;
    height: 10px;
    background: #B4C618;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.maszynyOverlayText {
    transform: scale(0);
    color: #fff;
    font-size: 17px;
    transition: .4s all;
    text-align: center;
}

.maszynyInnerItemImg {
    width: 100%;
    height: 100%;
}

.maszynyInnerItemHeader {
    background: #B4C618;
    width: fit-content;
    width: -moz-max-content;
    padding: 8px 20px;
    margin-top: 20px;
    text-align: center;
}

/* Uslugi */

.uslugiInner {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(3, 140px);
    grid-row-gap: 40px;
    grid-column-gap: 7%;
    margin-top: 40px;
}

.uslugiItem {
    display: flex;
    align-items: center;
}

.uslugiItemImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    padding-right: 45px;
}

.uslugiItemHeader {
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 10px;
}

.uslugiItemDescription {
    font-size: 15px;
    font-weight: 400;
}

/* Footer */

.footer {
    width: 100%;
    background: #C5C5C5;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.footer a {
    transition: .2s ease-in-out;
}

.footer a:hover {
    color: #ededed;
}

.footerFirst {
    list-style-type: none;
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 25px;
}

.footerSecond {
    margin: 25px 0 40px;
    display: flex;
    align-items: center;
}

.footerSecond h3 {
    font-size: 15px;
}

.facebook {
    padding-left: 15px;
}

.footerThird, .footerFourth {
    font-size: 15px;
    margin: 5px 0;
}

/* Page maszyny nowe */

.maszynyNoweContainer {
    margin-top: 40px;
    position: relative;

}

.maszynyNoweContainer::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #AAAAAA;
}

.maszynyNoweList {
    margin-top: 40px;
}

@media(min-width: 900px) {
    .maszynyNoweList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

.maszynyNoweListImgWrapper {
    opacity: .7;
    transition: .4s all;
}

.maszynyNoweList img {
    display: block;
    margin: 0 auto 30px auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .4s all;
    width: 100px;
    height: auto;
}

.maszynyNoweListImgWrapper:hover {
    opacity: 1;
}

.maszynyNoweListImgWrapper a:hover .maszynyNoweListImg {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
}

.greenHeader {
    margin: 120px auto 50px;
    position: relative;
    font-weight: 900;
    font-size: 28px;
    max-width: 420px;
    text-transform: uppercase;
    text-align: center;
}

.greenHeader::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 10px;
    background: #B4C618;
}

.producenciSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: auto;
}

.producenciSliderInner {
    width: 690px;
    height: 363px;
    background: url("./img/claas-zdjecie.png");
}

.producenciSliderInner > div {
    margin: auto;
}

.producenciSliderInnerItem {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    transform: translateY(-50%);
}

.producenciSliderInnerItemImg {
    max-width: 400px;
}

.producenciArrow {
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.maszynyNoweSlogansPart {
    display: flex;
    margin-bottom: 190px;
    position: relative;
}

.maszynyNoweSlogansPartText {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.maszynyNoweSlogansPartHeader {
    font-size: 26px;
    text-transform: uppercase;
}

.maszynyNoweSlogansPartDescription {
    margin-top: 20px;
    width: 350px;
}

.maszynyNoweSlogansPart:last-child {
    justify-content: flex-end;
    margin-bottom: 0;
}

.maszynyNoweSlogansPart:last-child .maszynyNoweSlogansPartText {
    order: 1;
    margin-right: 50px;
    text-align: right;
    align-items: flex-end;
}

.maszynyNoweSlogansPart:last-child .maszynyNoweImgWrapper {
    order: 2;
}

.maszynyNoweSlogansPart:last-child::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #AAAAAA;
}

.maszynyNoweImgWrapper {
    position: relative;
}

.maszynyNoweProgressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: #B4C618;
}

/* Uslugi */

.uslugiMain {
    width: 100%;
}

.uslugiMainContentItem {
    margin: 50px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uslugiMainContentItem:last-child {
    margin-bottom: 0;
}

.uslugiIcon {
    display: block;
}

.uslugiBtn {
    background: #B4C618;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 25px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.uslugiBtnText {
    color: #fff;
    padding-right: 15px;
}

.arrowDown {
    transform: rotate(180deg);
}

.uslugiInfoWrapper1, .uslugiInfoWrapper2 {
    margin-top: 32px;
    height: 0;
    transition: .4s ease-in-out all;
    display: flex;
    align-items: flex-start;
}

.uslugiInfo {
    text-align: center;
    position: relative;
    max-width: 820px;
    padding: 30px;
    box-shadow: 0 0 5px #00000040;
    border-top: 5px solid #B4C618;
    opacity: 0;
    transition: 1s all;
}

/* Serwis i czesci */
.serwisICzesci {
    width: 100%;
}

.divider {
    width: 1px;
    height: 200px;
    margin-top: 15px;
    background: #AAAAAA;
}

.serwisInner {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 80%;
}

.serwisImg {
    width: 410px;
    height: 230px;
    border-top: 5px solid #B4C618;
}

.serwisHeader {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
    margin-top: 30px;
}

.serwisItemWrapper:first-of-type {
    margin-top: 120px;
}

.serwisItem {
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    transition: .4s all;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.serwisItem:hover {
    color: #B4C618 !important;
}

.serwisItem::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 25px;
    background: #B4C618;
}

.number {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #AAAAAA;
    font-size: 80px;
    opacity: .15;
}

.osobyKontaktoweInner {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 50px auto 20px auto;
}

.pracownik {
    width: 250px;
}

.pracownikExtraHeader {
    font-size: 18px;
    font-weight: 900;
    background: #B4C618;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
}

.pracownikImg {
    display: block;
    margin: 20px auto;
}

.pracownikName {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}

.pracownikFunction {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.pracownikContactText {
    font-size: 14px;
    font-weight: 400;
}

.pracownikContactText a {
    display: block;
    transition: .2s all;
}

.pracownikContactText a:hover {
    color: #B4C618;
    transform: translateX(10px);
}

.pracownikContact {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pracownikContactIcon {
    padding-right: 15px;
}

.divider2 {
    margin-top: 0;
    height: 400px;
}

.serwis, .czesci {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serwisPopup {
    height: 0;
    opacity: 0;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    transition: .5s height;
}

.serwisItemWrapper {
    margin: 60px 0;
}

/* O nas */

.oNas {
    width: 100%;
}

#map {
    width: 1008px;
    height: 500px;
    margin: 50px auto;
}

.mapa {
    position: relative;
}

#oddzialyMapa {
    position: absolute;
    top: -170px;
}

.firmaImg, .zespolImg {
    display: block;
    width: 1008px;
    height: 442px;
    border-top: 5px solid #B4C618;
    margin: 40px auto;
}

.firmaTitle {
    font-size: 26px;
    text-align: center;
}

.firmaDescription {
    margin: 20px auto 0 auto;
    text-align: center;
    width: 1000px;
}

.pracownikExtraHeader {
    width: 250px;
}

.zespolInner {
    width: 1008px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.zespolSection {
    margin-right: 100px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.zespolSection .pracownikExtraHeader {
    margin-right: calc(100% - 300px);
}

.zespolSection .pracownik {
    margin: 40px 40px 0 0;
}

.sectionSingle {
    width: auto;
}

/* Aktualnosci */

.aktualnosciPage {
    width: 100%;
}

.aktualnosciPageInner {
    grid-template-rows: 321px;
    margin-bottom: 80px;
    grid-row-gap: 0;
}

/* Scroll triggers */

main, section {
    position: relative;
}

.sectionHeaderFront {
    width: 400px;
}

.maszynyInnerFront, .aktualnosci .aktualnosciInner, .markiInner,
.maszyny .siteHeaderTopClass,
.classHint,
.uslugiInner
{
    opacity: 0;
}

.trigger1 {
    position: absolute;
    height: 10px;
    width: 1px;
    left: 0;
    top: 100px;
}

#uslugiTrigger {
    top: 200px;
}
.singleDostawca {
    width: 100%;
}

/* Single */

.singleArticle {
    width: 100%;
}

.singleContent {
    margin-top: 30px;
}

.singleContent p {
    margin-bottom: 20px;
    text-align: justify;
}

.singleArticleImg {
    width: 100%;
    margin-top: 15px;
}

/* Map infoWindow */

#contentWielkiGleboczek, #contentWiktoryn, #contentZurominek {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    max-width: 250px;
}

.contentImg {
    width: 100px;
    height: auto;
    padding-right: 15px;
}

.contentHeader {
    font-size: 15px;
    margin-bottom: 20px;
}

.contentAdress {
    font-size: 12px;
    font-weight: 400;
}

.contentBtn {
    width: 80%;
    padding: 10px 20px;
    color: #fff;
    background: #B4C618;
    font-size: 14px;
    font-weight: 400;
    margin: 25px auto 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s all;
}

.contentBtn:hover {
    background: #C5D729;
}

.mapContents {
    height: 0;
    visibility: hidden;
}

.wiadomosciPageInner {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.searchContainer {
    width: 100%;
}

.siteHeaderMenu {
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
    padding: 5px 20px !important;
}

#menu-menu-2 > li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-19 {
    border-right: none !important;
}

/* Calendar */

#my_calendar_mini_widget-2 {
    margin: 30px auto;
    width: 60%;
}

.mc-main .has-events a.mc-date {
    background: #B4C618 !important;
}

.mc-main .has-events a.mc-date span {
    color: #fff !important;
}

.poprzednieWydarzeniaBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kalendarzPage {
    width: 100%;
}

.kalendarzPageInner {
    margin-top: 50px;
}

.kalendarzPageInner .mc-format {
    display: none !important;
}

.mc-time a {
    transition: .2s all;
}

.mc-time a:hover, .mc-active {
    text-decoration: none !important;
    color: #B4C618; !important;
}

.my-calendar-footer {
    display: none !important;
}

.current-day, .current-day span {
    border-top: none !important;
}

.current-day {
    background: rgba(180, 198, 24, .5) !important;
}

.sharing {
    display: none !important;
}

.mc-main button.close, .mc-main button.close * {
    cursor: pointer !important;
}

button.mc-toggle:hover, button.mc-toggle:focus {
    outline: none !important;
}